<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/application.css">
  <title>interactive resume</title>
</head>
<body>
    <h1>
      <em>
      About
      </em>
    </h1>
    <p>
      After 6 years in teaching science education, I am now transitioning to the tech industry. In the past, I've successfully
      cemented interpersonal relationships with students, enhanced department productivity, and increased student engagement.
      Excited to begin my software engineer journey and welcome any work opportunities to further hone my knowledge and
      skills.
      Detail-orientated, organized, initiative-driven and passionate about solving real-world problems, I am a quick learner
      with matching ambitions to demonstrate my capabilities.
      Outside of work, I am an avid and culturally-aware traveller, having lived on 3 different continents and explored 36
      countries! Thus, I have developed a love of enjoying various outdoor activities such as skiing, hiking, camping, as well
      as an appreciation of international cuisines, cooking, and languages! You will find me diving seamlessly between
      Mandarin and English among friends, with a side of Japanese conversational skills. During quieter moments, I watercolor
      paint!
      Email: Jennifer.cc.su@gmail.com
      GitHub: https://github.com/berryjen
    </p>

</body>
</html>