   <h1>
      <em>
      <strong>
      ABOUT
      </strong>
      </em>
    </h1>
    <p class="info">
      After 7 years in teaching science education, I have now transitioned to the tech industry. Some highlights of my teaching achievements: 
        * successfully cemented interpersonal relationships with students,
        * enhanced department productivity by reducing weekly meetings by 30 mins each time via being prepared with questions, concerns and suggestions ready to go,
        * increased student engagement via feedback from periodic exit slips
        * mentored students in support of successful part-time/summer job applications

      Now as a coding professional, I deliver results by:
        * dissecting the problem systematically & systemically,
        * increasing efficiency of the product/service, 
        * improving existing structure, 
        * maintaining detailed, ongoing communication with team members involved 
      I’m keen on experimenting new technologies, and am a passionate learner who deeply care about team collaboration, within a work culture that values mentorship, diversity/inclusion and transparency. 
 
      Outside of work, I am an avid and culturally-aware traveller, have lived on 3 different continents and explored 36 countries! This has led me to develop an interest in outdoor activities such as skiing, hiking, camping, as well as an appreciation of international cuisines/cooking, and languages! 
      You will find me conversing in English, Mandarin and Japanese as needed with a side of basic Spanish. During quieter moments, I watercolor paint!

      <br />
      
         <a href= "/history" class="history">
         <p class="history">work history 📑</p>
      </a>
      <br />
    
      <br />
      <strong> 
        <a href= "mailto:Jennifer.cc.su@gmail.com"
          class= "email">
          <p class="email">Work with me! 👩🏻‍💻</p>
        </a> 
         <br />
      <footer>
         <a href = "https://github.com/berryjen/SheCodes-weather-project"
           target="_blank"
           class="gitHub">
            Open source
          </a>
            Code by
            <a href="https://linkedin.com/in/jennifer-s-27462888" target="_blank" class="linkedIn">
            Jennifer Su
            </a>
          </strong> 
      <br />
    </p>
  </footer>
  <br />

   <h1 class="info">
    <div class="inline-block" id="left">
    <img src="IMG_6027.jpeg" id= "personal_photo" />
    </div>

    <div class="inline-block" id="right">
      <button tyrpe="button" onclick="swapPlaces()">
        Click Me!
      </button>
    </div>
    <script>
      function swapPlaces() {
       let right= document.getElementById("right");
       let left= document.getElementById("left");
       rightContent= right.innerHTML;
       leftContent= left.innerHTML;
       left.innerHTML= rightContent;
       right.innerHTML= leftContent;
      }
    </script>