<h1 class="info">
Professional Experience 
</h1>
<h2>
<p class="info">
<em>
Aspiring Rubyist
</em>
• Attending one-on-one mentorship program with the end goal to become a Rubyist, gaining deeper understanding via pair-programming on algorithmic problems and personal projects.
<em>
Mentee front-end & back-end engineer
</em>
• Full-time, dynamic online coding bootcamp. Accomplished over 1000 hours of programming, with a solid foundation in product development, design and management. Produced, from scratch, 4 final projects and hosted them on GitHub. 
</br>
FRONTEND: 
-REACT
-HTML
-CSS
-JavaScript 
-Bootstrap 
</br>
BACKEND: 
-Ruby
</br>
• TESTING FRAMEWORKS:
-Rspec
</br>
• Integrated development environment(IDE):
• VS code 
• Sandbox 
• Repl
</br>
Cloud platforms: 
•API
• GIT/GitHub/Netlify
</br>
OPERATIONAL:
• DEVOPS workflow 
• pair programming
</br>

<p class="info">
Project Management Leader   
<em>                                                                           November 2020-December 2020
Code Bar
</em>
<br />
•	Led and managed a team of 4 to deliver a webpage within a fast-paced environment 
<br />
•	Successfully created a podcast space & open-sourced communication platform addressing homelessness in Barcelona, bridging professionals and the voice of homeless people for the purpose of conveying concerns & perspectives using React & JavaScript
<br />
</h2>
</p>
