<h1 class="info">
Professional Experience 
</h1>
<p class="info">
<h3>
<em>
<br />
CodeBar
</h3>
<br />
<h4>
Aspiring Rubyist
</em>
</h4>
• Attending 1:1 mentoring program 2-3 times per week, 2-3 hours each session
<br />
• Learning via pair-programming on algorithmic problems and personal projects 
<br />
• Built from scratch a Ruby on Rails version of my resume
<br />
• Created a brand new travel API database utilizing JavaScript, node.js, JSON, SQL/SQLite & TablePlus to write queries and construct relational table structures. 
<h3>
<em>
SheCodes
</em>
</h3>
<br />
<h4>
Mentee front-end engineer
</h4>
<br />
• Full-time, dynamic online coding bootcamp. Accomplished over 1000 hours of programming, with a solid foundation in product development, design and management. Produced, from scratch, 4 final projects and hosted them on GitHub. 
<br />

FRONTEND: 
<br />
• JavaScript
<br />

LIBRARIES:
<br />
• React
• HTML 5
• NPM
• css
• Bootsrap
<br />

BACKEND: 
<br />
• JavaScript
<br />

TESTING FRAMEWORKS:
<br />
• Rspec
<br />

Integrated development environment(IDE):
<br />
• VS code 
<br />
• Sandbox 
<br />
• Repl
<br /> 

Cloud platforms: 
<br />
•API
<br />
• GIT/GitHub/Netlify
<br />

OPERATIONAL:
<br />
• DEVOPS workflow 
<br />
• Pair Programming
<br /> 

<p class="info">
<h3>
<em>    
Project Management Leader                                                                         
</em>
</h3>
<br />
•	Led and managed a team of 4 to deliver a webpage within a fast-paced environment 
<br />
• Monitored work progress from all 4 members came together 
  --> Successfully created and launched a podcast space & open-source communication platform using React & Javascript
  --> Platform used to bring the voices of the homeless and professionals together to raise awareness of concerns
• Responsible for prioritizing workload and defining scope to ensure the aggressive deadline was met
</p>
