<h1 class="info">
Professional Experience 
</h1>
<p class="info">
<h3>
<em>
<br />
CodeBar
<br />
Aspiring Rubyist
</em>
</h3>
• Attending one-on-one mentorship program with the end goal to become a Rubyist, gaining deeper understanding via pair-programming on algorithmic problems and personal projects.
<br />
• Built from scratch a Ruby on Rails version of my resume

<h3>
<em>
SheCodes
</em>
</h3>
<br />
Mentee front-end engineer

<br />
• Full-time, dynamic online coding bootcamp. Accomplished over 1000 hours of programming, with a solid foundation in product development, design and management. Produced, from scratch, 4 final projects and hosted them on GitHub. 
<br />

FRONTEND: 
<br />
• REACT
<br />
• HTML
<br .>
• CSS
<br />
• JavaScript
<br /> 
• Bootstrap 
<br />

BACKEND: 
<br />
• Ruby
<br />

TESTING FRAMEWORKS:
<br />
• Rspec
<br />

Integrated development environment(IDE):
<br />
• VS code 
<br />
• Sandbox 
<br />
• Repl
<br /> 

Cloud platforms: 
<br />
•API
<br />
• GIT/GitHub/Netlify
<br />

OPERATIONAL:
<br />
• DEVOPS workflow 
<br />
• pair programming
<br /> 

<p class="info">
<h3>
<em>    
Project Management Leader                                                                         
</em>
</h3>
<br />
•	Led and managed a team of 4 to deliver a webpage within a fast-paced environment 
<br />
•	Successfully created a podcast space & open-sourced communication platform addressing homelessness in Barcelona, bridging professionals and the voice of homeless people for the purpose of conveying concerns & perspectives using React & JavaScript
<br />
</p>
