<h1 class="info">
Professional Experience 
</h1>
<p class="info">
Developer Support                                                                              November 2020-December 2020
Joint venture amongst MigraCode, IronHack, Code Bar
<br />
•	I am the lead on project management using Trello
<br />
•	Our team was able to deliver a homepage with a tight 2-week deadline
<br />
•	Our team is responsible to create a podcast space & open-sourced communication platform addressing homelessness in Barcelona, bridging professionals and the voice of homeless people for the purpose of conveying concerns & perspectives
<br />
</p>