body {
  background-image: url("edited.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #7d7a7a;
}
  
.info {
  color: #39083F;
  font-family: "Verdana", serif;
  text-align: justify;
  margin: 10px 20px; 
  
}
#personal_photo {
  position: relative;
  width: 200px;
  margin: 10px 20px;
  border-radius: 50%;


.title {
  font-weight: bold;
}

.history {
  text-decoration: none;
  color: #C52B05;
  margin: 5px 10px;
}

.history:hover {
  text-decoration: underline;
}

.email {
  text-decoration: none;
  color: #C52B05;
  margin: 10px 20px;
}

.email:hover {
  text-decoration: underline;
}

.gitHub {
  text-decoration: none;
  color: #C52B05;
}

.gitHub:hover {
  text-decoration: underline;
}

.linkedIn {
   text-decoration: none;
  color: #C52B05;
}

.linkedIn:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
}

.inline-block {
  display: inline-block;
}